@import url('https://fonts.googleapis.com/css?family=Marck+Script|Pacifico&subset=cyrillic');

* {box-sizing: border-box;}

body{
 background-image: url("../img/ep_naturalwhite.png");
}

.ksg-conteyner{
	max-width: 650px;
	margin: 0 auto;
}

ul.accordion{
	display: flex;
	justify-content: center;
	margin-top: 200px;
	padding: 0;
}

ul.accordion li{
	width: 50px;
	overflow: hidden;
	padding: 1px 1px 0;
	cursor: pointer;
	display: block;
	box-shadow: 1px 3px 15px #7e887e;
	transition: all 1.5s;
}

ul.accordion li:hover{
	width: 300px;
	box-shadow: 1px 3px 15px #36c5af;
	transition: all 1s;
}

ul.accordion li:nth-child(4){
	width: 300px;
}

ul.accordion:hover li:nth-child(4){
	width: 50px;
}
ul.accordion li:nth-child(4):hover{
	width: 300px;
}